.about-header {
    background-color: $clr1;
    color: $clr3;

    .about-header-container {
        padding-bottom: 125px;
        gap: 30px;
    }

    .header-container {
        width: 350px;
    }

    .content {
        width: 730px;

        .decoration {
            width: 50px;
            height: 4px;
            background-color: $clr2;
            margin-bottom: 40px;
        }
    }
}
