//  flex helpers

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-space-between {
        justify-content: space-between;
    }
    &.align-center {
        align-items: center;
    }
}
.wrap{
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.inline-flex {
    display: inline-flex;
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}
// List helpers
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
