.home-highlights {
    background-color: $clr7;
    .decoration-container {
        padding-top: 140px;
        .decoration {
            display: inline-block;
            width: 50px;
            height: 4px;
            background-color: $clr2;
        }
    }

    .highlights-container {
        justify-content: space-between;
        padding-bottom: 140px;
        padding-top: 54px;
        position: relative;

        // &::before {
        //     content: "";
        //     display: inline-block;
        //     width: 50px;
        //     height: 4px;
        //     background-color: $clr2;
        //     position: absolute;

        // }
    }

    .header-container {
        width: 445px;
       
    }

    .highlight-info > *:not(:last-child) {
        margin-bottom: 35px;
    }

    .highlight-card {
        width: 480px;
        gap: 23px;

        .img-container {
            width: 102px;
            height: 94px;

            img {
                width: 100%;
            }

            .main-img {
                position: relative;
                top: -15px;
                left: -65px;
            }

            .oval-img {
                position: relative;
            }
        }
    }

    .card-info-container {
        p.large {
            color: $clr2;
            margin-bottom: 16px;
        }
    }
}
