@font-face {
    font-family: livvicBold;
    src: url(../../fonts/bold/Livvic-Bold.ttf);
}
@font-face {
    font-family: livvicSemiBold;
    src: url(../../fonts/semibold/Livvic-SemiBold.ttf);
}

@font-face {
    font-family: livvicRegular;
    src: url(../../fonts/regular/Livvic-Regular.ttf);
}

@font-face {
    font-family: livvicBoldItalic;
    src: url(../../fonts/bolditalic/Livvic-BoldItalic.ttf);
}