// Colors Primary
$clr1: #014e56;
$clr2: #f67e7e;
$clr3: #ffffff;

// Colors Secondary
$clr4: #79c8c7;
$clr5: #2c6269;
$clr6: #004047;
$clr7: #012f34;
$clr8: #002529;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1110px;
