.contact-us {
    background-color: $clr2;
    color: $clr7;

    .contact-us-container {
        padding-top: 73px;
        padding-bottom: 73px;
    }

    button {
        color:inherit;
        background-color: inherit;
        border:2px solid $clr7;
        &:hover {
            background-color: $clr7;
            color: $clr3;
        }
    }
}
